example_converted_hands_1
example_ignition_hands_1
.check-remaining-tasks.state
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfplan
hashicorp
terraform/service/lambda/transcode/package/
terraform/service/lambda/transcode/deployment.zip